<div id="<%= dom_id visitor %>">
  <p>
    <strong>Cpf:</strong>
    <%= visitor.cpf %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitor.rg %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= visitor.telephone %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= visitor.photo %>
  </p>

</div>
