<h1>New visit</h1>

<%= form_with model: @visit do |form| %>
    <p>Visitor: <%= form.select :visitor_id, Visitor.pluck(:name, :id) %></p>
    <p>Employee: <%= form.select :employee_id, Employee.pluck(:name, :id) %></p>

    <%= form.submit %>
<br>

<div>
  <%= link_to "Back to visits", visits_path %>
</div>


<% end %>