<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<p><%= link_to 'Units', units_path %></p>
<p><%= link_to 'Sectors', sectors_path %></p>
<p><%= link_to 'Employees', employees_path %></p>
<p><%= link_to 'Visitors', visitors_path %></p>
<p><%= link_to 'Visits', visits_path %></p>